<%- include('header') %>
<form method="POST" action="contact/send">
    <p>
        <label>From:</label>
        <input type="text" name="from" id="from">
    </p>
    <p>
        <label>To:</label>
        <input type="text" name="to" id="to">
    </p>
    <p>
        <label>Choose a holiday:</label>
        <input type="radio" name="holiday" value="Christmas"> Christmas<br>
        <input type="radio" name="holiday" value="Halloween"> Halloween<br>
        <input type="radio" name="holiday" value="Valentines day"> Valentines Day
    </p>
    <input type="submit" name="send">
</form>
    
<%- include('footer') %>

