<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <header class="wrapper">
        <img id="logo" src="/images/paper_plane_black.png">
        <nav>
          <ul>
            <li class="links"><a href="/">Home</a></li>
            <li class="links"><a href="/team">Team</a></li>
            <li class="links"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
    </header>