<%- include('header') %>
<h2>Use this app to send Holiday cheer to the ones you love!</h2>
<p>Our premade messages are perfect for someone on the go that still wants the people they love to know they are thinking about them.</p>
<%- include('footer') %>

