<%- include('header') %>
<h2>Here is the dev team that made this application</h2>

<div class="wrapper">
    <div class="team-img" id="team1">
        <p>James</p>
    </div>
            
    <div class="team-img" id="team2">
        <p>Brandon</p>
    </div>
            
    <div class="team-img" id="team3">
        <p>Tulip</p>
    </div>

    <div class="team-img" id="team4">
        <p>Margaret</p>
    </div>
</div>

<%- include('footer') %>

